doctype html
html(lang="en")
  head
    title Click To Call Tutorial

    // We use Twitter Bootstrap as the default styling for our page
    link(rel='stylesheet', 
      href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', 
      href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')

    // Include CSS for our third-party telephone input jQuery plugin
    link(rel='stylesheet', href='/vendor/intl-phone/css/intlTelInput.css')
  body
    .container

      // C2C contact form
      .row
        .col-md-12
          form(id='contactForm', role='form')
            .form-group
              h3 Contact form
              p.help-block.
                Enter your phone number below, and our team will 
                contact you right away.
            label Customer Number
            .form-group
              input.form-control(type='text', id='customerNumber', 
                placeholder='(651) 555-7889')
            label Business Number 
            .form-group
              input.form-control(type='text', id='businessNumber', 
                placeholder='(651) 555-7889')
            label Customer Name 
            .form-group
              input.form-control(type='text', id='customerName', 
                placeholder='Enter your name')
            button(type='submit', class='btn btn-default') Contact Sales

    // Include page dependencies
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/vendor/intl-phone/js/intlTelInput.min.js')

    // Our app's front-end JavaScript logic
    script(src='/app.js')
